*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
}

header{
  position: fixed;
  z-index: 20;
  top: 0; left: 0;
  height: 120px;
  width: 100%;
  background: white;
}
.header-top{
  padding: 20px;
}
.label-header{
  text-decoration: none;
  padding: 20px;
  font-size: 15px;
}
.label-header:hover{
  text-decoration: underline;
  font-weight: bold;
  color:lightblue;
}
.label-right{
  float: right;
}
.search{
  color: lightblue;
}
.label-right ul li{
  display:inline-block;
  padding: 5px;
}
.label-li-style{
  text-decoration: none;
}
.label-li-style:hover{
  text-decoration: underline;
  font-weight: bold;
  color:lightblue;
}

.header-bottom{
  width: 100%;
  height: 120px;
  padding-left: 30px;
  margin-bottom: 0;
  padding-top: 10px;
  float: left;
}
.header-logo{
  float: left;
}
.list-center{
  width: 50%;
  height: 100%;
  float: left;
  position: absolute;
  margin-left: 175px;
  padding: 5px;
}
.list-center ul li{
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.search-bottom{
  float: right;
  background-color: rgb(249, 113, 82);
  margin-right: 30px;
  padding: 8px;
  border-radius:5px;
}
.search-bottom a{
  color: white;
  text-decoration: none;
}
.search-bottom:hover{
  background-color: rgb(255, 188, 172);
}
main{
background-color: rgb(240, 244, 248);
width: 100%;
height: 3500px;
}
#banner-spot{
  width: 100%;
  height:220px;
  background-color: rgb(66, 91, 118);
  padding-top: 150px;
  font-size: 15px;
}
#banner-spot span{
  color:white;
  width: 50%;
  padding-left: 20px;
  text-align: center;
  float: left;
}
#banner-spot span p{
  padding-bottom: 10px;
}
#banner-spot span a{
  background-color: white;
  border-radius: 5px;
  padding:10px;
  text-decoration: none;
}

#main-top{
  height: 695px;
  background-image: url(../img/jumbotron.png);
}
.main-top-text{
left: 40px;
top: 40px;
width: 40%;
height: 100px;
}
.main-top-text h1{
  padding: 40px;
}
.main-top-text span p{
  padding: 40px;
}

#main-center{
  width: 70%;
  height: 400px;
  margin-left: 15%;
}

#main-center-intro{
  text-align: center;
}
#main-center-intro img{
  width: 20%;
  height: 20%;
  padding:20px;
}
#main-center-intro h2{
  padding-bottom: 20px;
}
#main-center-intro p{
  font-size: 15px;
  margin-bottom: 40px;
}

#main-first-box{
  width: 100%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: relative;
  box-shadow:  1px  1px 5px #dedede,
              -1px -1px 5px #dedede,
               1px -1px 5px #dedede,
              -1px  1px 5px #dedede;
}
.main-first-box-left{
  width: 33.33%;
  height: 100%;
  margin: 20px;
  float: left;
}
.main-first-box-left img{
  width: 70%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
}
.main-first-box-left a{
padding: 20px;
margin-left: 60px;
}
.learn-more-bottom{
  background-color: rgb(249, 113, 82);
  padding: 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  position: absolute;
}
.main-first-box-left a{
  left: 30px;
  bottom: 60px;
}
.learn-more-bottom:hover{
  background-color: rgb(255, 188, 172);
}

#main-first-box-right{
  width: 66.66%;
  height: 100%;
  float: right;
  margin: 20px;
  position: absolute;
  right: 20px;
  top: 40px;
}
#main-first-box-right p{
  margin-top: 40px;
}
#main-first-box-right ul li{
  decoration: none;
  display: inline-block;
}
#main-first-box-right ul li a{
  color: black;
}
#main-first-box-right ul li a i{
  padding: 20px;
}
h4{
  text-transform: uppercase;
  margin-top: 40px;
  margin-left: 20px;
}
h4::after{
  border-top: 1px solid black;
}
.fa-check-circle{
  color: rgb(249, 113, 82);
}

.columns{
  width: 100%;
  height: 600px;
  position: relative;
}
#first-column{
  width: 30%;
  height: 600px;
  margin: 20px 20px 20px 0;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  float: left;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  box-shadow:  1px  1px 5px #dedede,
              -1px -1px 5px #dedede,
               1px -1px 5px #dedede,
              -1px  1px 5px #dedede;
}
#first-column img{
  width: 43%;
  padding: 20px;
}
#first-column hr{
  margin: 0px 20px 0px 20px;
}
#first-column h3,p,h4{
  padding: 20px;
}
#first-column ul li a{
  decoration: none;
  color: black;
  margin: 20px;
}
#first-column span{
  margin-right: 80px;
  padding-top: 50px;
}
#second-column{
  width: 30%;
  height: 600px;
  margin: 20px 20px 20px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  left: 33.33%;
    text-align: center;
  box-shadow:  1px  1px 5px #dedede,
              -1px -1px 5px #dedede,
               1px -1px 5px #dedede,
              -1px  1px 5px #dedede;
}
#second-column img{
  width: 50%;
  padding: 20px;
}
#second-column hr{
  margin: 0px 20px 0px 20px;
}
#second-column h3,p,h4{
  padding: 20px;
}
#second-column ul li a{
  decoration: none;
  color: black;
  margin: 20px;
}
#second-column span{
  margin-right: 80px;
}
#third-column{
  width: 30%;
  height: 600px;
  margin: 20px 0px 20px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  right: 0;
    text-align: center;
  box-shadow:  1px  1px 5px #dedede,
              -1px -1px 5px #dedede,
               1px -1px 5px #dedede,
              -1px  1px 5px #dedede;
}
#third-column img{
  width: 40%;
  padding: 20px;
}
#third-column hr{
  margin: 0px 20px 0px 20px;
}
#third-column h3,p,h4{
  padding: 20px;
}
#third-column ul li a{
  decoration: none;
  color: black;
  margin: 20px;
}
#third-column span{
  margin-right: 80px;
  padding-top: 50px;
  bottom: 0;
}

#blue-box{
  width: 100%;
  height: 650px;
  background: rgb(1, 180, 173);
  margin-top: 1000px;
}
.tab-blue-box{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  text-align: center;
}
.tab-blue-box h2{
  font-size: 30px;
}
.tab-blue-box h2,p{
  padding-top: 30px;
}
.mini-box{
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.logo-mini-box{
  width: 200px;
  height: 50px;
  margin-top: 20px;
}
.blu-box-top-line span{
  display: inline-block;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}
.blu-box-top-line span: last-child{
  border-right: 0;
}
.blue-box-bottom-line span{
  display: inline-block;
  border-right: 2px solid white;
}

#top-main-bottom{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 40px;
}
.top-main-bottom-left{
  text-align: center;
  width: 30%;
  float: left;
}
.top-main-bottom-left h2{
font-size: 40px;
}
.top-main-bottom-left p{
font-size: 15px;
}
#top-main-bottom-right{
  right: 0;
  top: 10px;
  width: 70%;
  float: left;
}
#sponsor-top-line span{
  display: inline-block;
  padding-top: 20px;
}
#sponsor-bottom-line span{
  display: inline-block;
}
.box-sponsor-logo{
  width: 150px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.box-sponsor-logo img{
  width: 70%;
}
#bottom-main-bottom{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 80px;
  position: relative;
}
.bottom-main-bottom-left{
  width: 50%;
  padding-top: 50px;
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 200px;
}
.bottom-main-bottom-left p:nth-child(2){
  font-size: 15px;
}
.bottom-main-bottom-left span p{
  font-size: 12px;
}
.hubspotfree-button{
  background-color: rgb(249, 113, 82);
  padding: 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.hubspotfree-button:hover{
    background-color: rgb(255, 188, 172);
}
.woman-pic{
  position: absolute;
  right: -180px;
  top: 170px;
  margin-left: 50px;
}
.woman-pic img{
  width: 45%;
}
footer{
  height: 400px;
  width: 100%;
  background-color: rgb(66, 91, 118);
}
